<div class="container mt-5">
    <h2>Detalle evento</h2>
    <hr>

    <div class="row">

        <div class="col-md-6">
            <h3>Película: {{movieTitle}}</h3>
            <p>Lugar del evento: {{place}}</p>
            <time datetime="{{date}}">{{date}}</time>

            <p>Descripción del evento: {{event.description}}</p>

            <a href="/user/{{userID}}">
                <p>Created by {{event.createdBy.username}}</p>
            </a>

            <p>Asistentes al evento</p>
            <ul>
                {{#each event.attendees}}
                <li>{{username}}</li>
                {{/each}}
            </ul>

            <p>Usuario actual: {{userID}}</p>
            <p>Id evento {{event.id}}</p>

            <form action="/evento/irEvento/{{event.id}}" method="POST">
                <button type="submit" class="btn btn-outline-info ms-1">Ir a evento </button>
            </form>
        </div>

        <div class="col-md-6">
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{event.moviePoster}}" class="card-img">
        </div>


    </div>



</div>