<div class="container mt-5 mb-5">
    <h2>Listado eventos</h2>
    <hr>
    <figure id="myMap"></figure>

    <div class="row">
        {{#each events}}
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <a href="/evento/detalle/{{_id}}" style="text-decoration:none">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{moviePoster}}"
                                class="img-fluid rounded-start" alt="{{movieTitle}}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{movieTitle}}</h5>
                                <p class="card-text">{{newDate}}</time></p>
                                <p class="card-text"><small class="text-body-secondary">{{place}}</small></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/events-maps.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8pH6zIEOvvWQHRCqRVHiaspZ_KM6yDI8&callback=initMap"></script>