<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <figure>
                <img src="{{newUser.photo}}" alt="UserPhoto">
            </figure>

            <h3>{{newUser.username}}</h3>
            {{#if isAdmin}}
            <a href="/user/{{newUser._id}}/editar" class="btn btn-warning gap-3">Editar perfil</a>
            <form action="/user/{{newUser._id}}/eliminar" method="POST">
                <input type="submit" value="Borrar perfil" class="btn btn-danger gap-3 mt-2">
            </form>
            {{/if}}

            {{#if isUser}}
            <a href="/user/{{newUser._id}}/editar" class="btn btn-warning gap-3">Editar perfil</a>
            {{/if}}
        </div>
        <div class="col-md-8">

            <h3>Películas Favoritas</h3>
            <ul>
                {{#each newMovies}}
                <li><a href="/movie/detalle/{{id}}" target="_blank">{{original_title}}</a></li>
                {{/each}}
            </ul>

        </div>

    </div>

</div>