<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <figure>
                <img src="{{user.photo}}" alt="UserPhoto">
            </figure>
        </div>
        <div class="col-md-8">
            <h2>{{user.username}}</h2>
            <h3>Películas Favoritas</h3>
            <ul>
                {{#each newMovies}}
                <li><a href="/movie/detalle/{{id}}" target="_blank">{{original_title}}</a></li>
                {{/each}}
            </ul>
            {{#if isAdmin}}
            <a href="/user/{{user._id}}/editar" class="btn btn-warning gap-3">Editar perfil</a>
            <form action="/user/{{user._id}}/eliminar" method="POST">
                <input type="submit" value="Borrar perfil" class="btn btn-danger gap-3 mt-2">
            </form>
            {{/if}}

            {{#if isUser}}
            <a href="/user/{{user._id}}/editar" class="btn btn-warning gap-3">Editar perfil</a>
            {{/if}}
        </div>
    </div>
</div>
</div>