<div class="container">
    <h2>Detalles de perfil</h2>
    <hr>
    <table class="table">
        <tr>
            <td>
                Nombre: {{newUser.username}}
            </td>
            <td>
                Pelis favoritas:
                <ul>
                    {{#each newMovies}}
                    <li><a href="/movie/detalle/{{id}}" target="_blank">{{original_title}}</a></li>
                    {{/each}}
                </ul>
            </td>
        </tr>
    </table>

    <figure>
        <img src="{{newUser.photo}}" alt="UserPhoto">
    </figure>

    {{#if isAdmin}}
    <a href="/user/{{newUser._id}}/editar" class="btn btn-warning gap-3">Editar perfil</a>
    <form action="/user/{{newUser._id}}/eliminar" method="POST">
        <input type="submit" value="Borrar perfil" class="btn btn-danger gap-3 mt-2">
    </form>
    {{/if}}

    {{#if isUser}}
    <a href="/user/{{newUser._id}}/editar" class="btn btn-warning gap-3">Editar perfil</a>
    {{/if}}

</div>