<div class="toplane">
    ULTIMOS ESTRENOS
</div>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-text">
                1
            </div>
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}" class="d-block w-100"
                alt="Primera Imagen Nuevo Estreno">
        </div>
        <div class="carousel-item">
            <div class="carousel-text">
                2
            </div>
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}" class="d-block w-100"
                alt="Segunda Imagen Nuevo Estreno">
        </div>
        <div class="carousel-item">
            <div class="carousel-text">
                3
            </div>
            <img src="/images/marvelex.jpeg" class="d-block w-100" alt="Tercera Imagen Nuevo Estreno">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="trading mt-5">
        <h2>Trending</h2>
        <div class="row">
            {{#each fiveMovies}}

            <div class="col-md-2">
                <div class="card bg-transparent h-75 border-0">
                    <img class="card-img-top" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}"
                        alt="poster-{{this.title}}">
                    <div class="card-body text-center">
                        <h6 class="card-title">{{title}}</h6>
                    </div>
                    <div class="card-footer bg-transparent border-0 text-center">
                        <a href="/movie/detalle/{{this.id}}" class="btn btn-outline-info" role="button">Ver
                            Detalles</a>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>