<div class="toplane">
    ULTIMOS ESTRENOS
</div>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-text">
                {{marquee.[0].title}}
                <div class="container ">
                    <div class="card bg-transparent h-75 border-0">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{marquee.[0].poster_path}}">
                    </div>
                </div>
            </div>
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{marquee.[0].poster_path}}"
                class="d-block w-100" alt="{{marquee.[0].title}} poster image">
        </div>
        <div class="carousel-item">
            <div class="carousel-text">
                {{marquee.[1].title}}
                <div class="container ">
                    <div class="card bg-transparent h-75 border-0">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{marquee.[1].poster_path}}"
                            class="d-block w-100" alt="{{marquee.[1].title}} poster image">
                    </div>
                </div>
            </div>
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{marquee.[1].poster_path}}"
                class="d-block w-100" alt="{{marquee.[1].title}} poster image">
        </div>
        <div class="carousel-item">
            <div class="carousel-text">
                {{marquee.[2].title}}
                <div class="container ">
                    <div class="card bg-transparent h-75 border-0">
                        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{marquee.[2].poster_path}}">
                    </div>
                </div>
            </div>
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{marquee.[2].poster_path}}"
                class="d-block w-100" alt="Segunda Imagen Nuevo Estreno">
        </div>
    </div>
</div>
<<<<<<< HEAD
=======

>>>>>>> bae14217c1f85e753860a099faeedf056140eb6c
<div class="container">
    <div class="trading mt-5">
        <h2>Cine en tendencia <span class="arrowsect"> ></span></h2>
        <div class="row">
            {{#each fiveMovies}}
            <div class="col-md-2">
                <div class="card bg-transparent h-75 border-0">
                    <a href="/movie/detalle/{{this.id}}"><img class="card-img-top"
                            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}"
                            alt="poster-{{this.title}}"></a>
                    <div class="card-body text-center">
                        <h6 class="card-title">{{title}}</h6>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="container">
    <div class="trading mt-5">
        <h2>Top Rated Movies <span class="arrowsect"> ></span></h2>
        <div class="row">
            {{#each topRated}}
<<<<<<< HEAD
=======

>>>>>>> bae14217c1f85e753860a099faeedf056140eb6c
            <div class="col-md-2">
                <div class="card bg-transparent h-75 border-0">
                    <a href="/movie/detalle/{{this.id}}"><img class="card-img-top"
                            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}"
                            alt="poster-{{this.title}}"></a>
                    <div class="card-body text-center">
                        <h6 class="card-title">{{title}}</h6>
                    </div>
                </div>
            </div>
<<<<<<< HEAD
            {{/each}}
=======

            {{/each}}

>>>>>>> bae14217c1f85e753860a099faeedf056140eb6c
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="trading mt-5">
        <h2>Proximamemente <span class="arrowsect"> ></span></h2>
        <div class="row">
            {{#each upcomingMedia}}
            <div class="col-md-2">
                <div class="card bg-transparent h-75 border-0">
                    <a href="/movie/detalle/{{this.id}}"><img class="card-img-top"
                            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}"
                            alt="poster-{{this.title}}"></a>
                    <div class="card-body text-center">
                        <h6 class="card-title">{{title}}</h6>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>