<div class="toplane">
    ULTIMOS ESTRENOS
</div>
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-text">
                1
            </div>
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}" class="d-block w-100"
                alt="Primera Imagen Nuevo Estreno">
        </div>
        <div class="carousel-item">
            <div class="carousel-text">
                2
            </div>
            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}" class="d-block w-100"
                alt="Segunda Imagen Nuevo Estreno">
        </div>
        <div class="carousel-item">
            <div class="carousel-text">
                3
            </div>
            <img src="/images/marvelex.jpeg" class="d-block w-100" alt="Tercera Imagen Nuevo Estreno">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>

        <div class="container">
            <h1>Bienvenido a tu sitio web</h1>
            <a href="/registro">Registro</a>

            <div class="trading mt-5">
                <h2>Trading</h2>
                <div class="row">
                    {{#each fiveMovies}}

                    <div class="col-md-2">
                        <article class="trading-card mb-5">
                            <h4>{{this.title}}</h4>
                            <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{this.poster_path}}"
                                alt="poster-{{this.title}}">
                            <a href="/movie/detalle/{{this.id}}" class="btn btn-info" role="button">More Info</a>
                        </article>

                    </div>

                    {{/each}}

                </div>
            </div>





        </div>